.headerstyle {
  text-align: center;
  color: #000000;
  font-size: 50px;

}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.itemlist li img {
  width: 50%;
}

.lotlist li img {
  width: 25%;
  min-height:25%;
}

.lot-title {
  color: #CF5300;
}


.full {
  width: 75%;
}


.flat{
  display:inline;
}
/*img {
  border-radius: 10px;
}*/
