.headerstyle {
  color: #000000;
  font-size: 100px;
  font-family: 'Lora', serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20px;

}

.contentbox {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 20px;

}

a:hover {
  text-decoration: none;
  background-color: #FFFFB2;
}

li {
  list-style: none;
}

.itemlist li img {
  width: 50%;
}

.lotlist li img {
  width: 25%;
  min-height:25%;
}

.lot-title {
  color: #CF5300;
  font-size: 50px;
}


.full {
  width: 75%;
}


.flat{
  display:inline;
}
/*img {
  border-radius: 10px;
}*/
