<div class="container">
  <div class="col-md-8 col-md-offset-2 contentbox">

    <h1>{{#link-to 'lots' classNames='headerstyle'}}Auction House{{/link-to}}</h1>

    {{outlet}}
    <br>
  </div>

</div>
