<h2>List of Items</h2>

<ul class="itemlist">
{{#each}}
  <li>
    {{#link-to 'item' this.id}}<img src={{image}}>{{/link-to}}
    <p>
      Owner: {{owner}} ||

      Backstory: {{backstory}} ||

      Starting price: {{starting_price}}
    </p>
  </li>
{{/each}}
</ul>

<p>{{#link-to 'new-item' classNames="btn btn-default"}}Add New Item{{/link-to}}</p>
