

<h3>List of current lots</h3>

<ul class="lotlist">
{{#each}}

  <li> {{#link-to 'lot' this.id}}{{title}}{{/link-to}}
    <ul>
      {{#each items}}
          <li class='flat'><img src={{image}} class="img-thumbnail"></li>
      {{/each}}
    </ul>
  </li>
{{/each}}
</ul>

<p>{{#link-to 'new-lot' classNames="btn btn-primary"}}Add New Lot{{/link-to}}</p>
