<ul class="lotlist">
{{#each}}

  <li>{{#link-to 'lot' this.id classNames="lot-title"}}{{title}}{{/link-to}}
    <ul>
      {{#each items}}
          {{#link-to 'item' this.id }}<li class='flat'><img src={{image}} class="img-thumbnail"></li>{{/link-to}}
      {{/each}}
    </ul>
  </li>
  <hr>
{{/each}}
</ul>

<p>{{#link-to 'new-lot' classNames="btn btn-default"}}Add New Lot{{/link-to}}</p>
