

<h3>Current Lots:</h3>

<ul class="lotlist">
{{#each}}

  <li>{{#link-to 'lot' this.id classNames="lot-title"}}{{title}}{{/link-to}}
    <ul>
      {{#each items}}
          <li class='flat'><img src={{image}} class="img-thumbnail"></li>
      {{/each}}
    </ul>
  </li>
  <hr>
{{/each}}
</ul>

<p>{{#link-to 'new-lot' classNames="btn btn-primary"}}Add New Lot{{/link-to}}</p>
