<h2>Add New Lot</h2>


<form>
  <label for="title">Title</label>
  {{input id="title" class="form-control" value=title}}

  <label for="description">Description</label>
  {{textarea id="description" class="form-control" value=description}}

  <label for="date">Auction Date</label>
  {{input id="date" class="form-control" type="date" value=date}}
<br>

    <button class="btn btn-default" {{action 'save'}}>Save</button>
</form>
